/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f5f5f500;
  color: #333;
}

header {
  background: #ffffff00;
}

.poetsenOne {
  font-family: 'Poetsen One';
}

.playpenSans {
  font-family: 'Playpen Sans';
}


/* section {
  padding: 4rem 2rem;
  max-width: 900px;
  min-height: 100vh;
  margin: auto;
  background: #fff;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
} */

h1, h2 {
  margin-bottom: 1rem;
  color: #007ACC;
}

ul li {
  margin-bottom: 0.5rem;
}